@import 'tailwindcss';
@import 'tw-animate-css';
@import 'shadcn/tailwind.css';

@custom-variant dark (&:is(.dark *));

@theme {
  /* Font Weights */
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;

  /* Display 3xl - 60px */
  --text-display-3xl: 3.75rem;
  --text-display-3xl--line-height: 4.5rem;
  --text-display-3xl--font-weight: var(--font-weight-regular);
  --text-display-3xl-medium--font-weight: var(--font-weight-medium);
  --text-display-3xl-semibold--font-weight: var(--font-weight-semibold);
  --text-display-3xl-bold--font-weight: var(--font-weight-bold);
  --text-display-3xl-extrabold--font-weight: var(--font-weight-extrabold);

  /* Display 2xl - 48px */
  --text-display-2xl: 3rem;
  --text-display-2xl--line-height: 3.75rem;
  --text-display-2xl--letter-spacing: -0.02em;
  --text-display-2xl--font-weight: var(--font-weight-regular);
  --text-display-2xl-medium--font-weight: var(--font-weight-medium);
  --text-display-2xl-semibold--font-weight: var(--font-weight-semibold);
  --text-display-2xl-bold--font-weight: var(--font-weight-bold);
  --text-display-2xl-extrabold--font-weight: var(--font-weight-extrabold);

  /* Display xl - 40px */
  --text-display-xl: 2.5rem;
  --text-display-xl--line-height: 3rem;
  --text-display-xl--letter-spacing: -0.02em;
  --text-display-xl--font-weight: var(--font-weight-regular);
  --text-display-xl-medium--font-weight: var(--font-weight-medium);
  --text-display-xl-semibold--font-weight: var(--font-weight-semibold);
  --text-display-xl-bold--font-weight: var(--font-weight-bold);
  --text-display-xl-extrabold--font-weight: var(--font-weight-extrabold);

  /* Display lg - 36px */
  --text-display-lg: 2.25rem;
  --text-display-lg--line-height: 2.75rem;
  --text-display-lg--letter-spacing: -0.02em;
  --text-display-lg--font-weight: var(--font-weight-regular);
  --text-display-lg-medium--font-weight: var(--font-weight-medium);
  --text-display-lg-semibold--font-weight: var(--font-weight-semibold);
  --text-display-lg-bold--font-weight: var(--font-weight-bold);
  --text-display-lg-extrabold--font-weight: var(--font-weight-extrabold);

  /* Display md - 32px */
  --text-display-md: 2rem;
  --text-display-md--line-height: 2.5rem;
  --text-display-md--font-weight: var(--font-weight-regular);
  --text-display-md-medium--font-weight: var(--font-weight-medium);
  --text-display-md-semibold--font-weight: var(--font-weight-semibold);
  --text-display-md-bold--font-weight: var(--font-weight-bold);
  --text-display-md-extrabold--font-weight: var(--font-weight-extrabold);

  /* Display sm - 28px */
  --text-display-sm: 1.75rem;
  --text-display-sm--line-height: 2.375rem;
  --text-display-sm--font-weight: var(--font-weight-regular);
  --text-display-sm-medium--font-weight: var(--font-weight-medium);
  --text-display-sm-semibold--font-weight: var(--font-weight-semibold);
  --text-display-sm-bold--font-weight: var(--font-weight-bold);
  --text-display-sm-extrabold--font-weight: var(--font-weight-extrabold);

  /* Display xs - 24px */
  --text-display-xs: 1.5rem;
  --text-display-xs--line-height: 2.25rem;
  --text-display-xs--font-weight: var(--font-weight-regular);
  --text-display-xs-medium--font-weight: var(--font-weight-medium);
  --text-display-xs-semibold--font-weight: var(--font-weight-semibold);
  --text-display-xs-bold--font-weight: var(--font-weight-bold);
  --text-display-xs-extrabold--font-weight: var(--font-weight-extrabold);

  /* Text xl - 20px */
  --text-xl: 1.25rem;
  --text-xl--line-height: 2.125rem;
  --text-xl--font-weight: var(--font-weight-regular);
  --text-xl-medium--font-weight: var(--font-weight-medium);
  --text-xl-semibold--font-weight: var(--font-weight-semibold);
  --text-xl-bold--font-weight: var(--font-weight-bold);
  --text-xl-extrabold--font-weight: var(--font-weight-extrabold);

  /* Text lg - 18px */
  --text-lg: 1.125rem;
  --text-lg--line-height: 2rem;
  --text-lg--font-weight: var(--font-weight-regular);
  --text-lg-medium--font-weight: var(--font-weight-medium);
  --text-lg-semibold--font-weight: var(--font-weight-semibold);
  --text-lg-bold--font-weight: var(--font-weight-bold);
  --text-lg-extrabold--font-weight: var(--font-weight-extrabold);

  /* Text md - 16px */
  --text-md: 1rem;
  --text-md--line-height: 1.875rem;
  --text-md--font-weight: var(--font-weight-regular);
  --text-md-medium--font-weight: var(--font-weight-medium);
  --text-md-semibold--font-weight: var(--font-weight-semibold);
  --text-md-bold--font-weight: var(--font-weight-bold);
  --text-md-extrabold--font-weight: var(--font-weight-extrabold);

  /* Text sm - 14px */
  --text-sm: 0.875rem;
  --text-sm--line-height: 1.75rem;
  --text-sm--font-weight: var(--font-weight-regular);
  --text-sm-medium--font-weight: var(--font-weight-medium);
  --text-sm-semibold--font-weight: var(--font-weight-semibold);
  --text-sm-bold--font-weight: var(--font-weight-bold);
  --text-sm-extrabold--font-weight: var(--font-weight-extrabold);

  /* Text xs - 12px */
  --text-xs: 0.75rem;
  --text-xs--line-height: 1.5rem;
  --text-xs--font-weight: var(--font-weight-regular);
  --text-xs-medium--font-weight: var(--font-weight-medium);
  --text-xs-semibold--font-weight: var(--font-weight-semibold);
  --text-xs-bold--font-weight: var(--font-weight-bold);
  --text-xs-extrabold--font-weight: var(--font-weight-extrabold);

  /* ===== NEUTRAL ===== */
  --color-neutral-25: #fdfdfd;
  --color-neutral-50: #fafafa;
  --color-neutral-100: #f5f5f5;
  --color-neutral-200: #e9eaeb;
  --color-neutral-300: #d5d7da;
  --color-neutral-400: #a4a7ae;
  --color-neutral-500: #717680;
  --color-neutral-600: #535862;
  --color-neutral-700: #414651;
  --color-neutral-800: #252b37;
  --color-neutral-900: #181d27;
  --color-neutral-950: #0a0d12;

  /* ===== PRIMARY COLORS ===== */
  --color-primary-100: #f6f9fe;
  --color-primary-200: #7f51f9;
  --color-primary-300: #6936f2;

  /* ===== ACCENT COLORS ===== */
  --color-red: #d9206e;
  --color-green: #079455;
  --color-yellow: #fdb022;

  /* ===== BASE COLORS ===== */
  --color-white: #ffffff;
  --color-black: #000000;

  /* ===== RADIUS VARIABLES ===== */
  --radius-none: 0rem;
  --radius-xxs: 0.125rem; /* 2px */
  --radius-xs: 0.25rem; /* 4px */
  --radius-sm: 0.375rem; /* 6px */
  --radius-md: 0.5rem; /* 8px */
  --radius-lg: 0.625rem; /* 10px */
  --radius-xl: 0.75rem; /* 12px */
  --radius-2xl: 1rem; /* 16px */
  --radius-3xl: 1.25rem; /* 20px */
  --radius-4xl: 1.5rem; /* 24px */
  --radius-full: 9999px;

  /* ===== SPACING VARIABLES ===== */
  --spacing-none: 0rem; /* 0px */
  --spacing-xxs: 0.125rem; /* 2px */
  --spacing-xs: 0.25rem; /* 4px */
  --spacing-sm: 0.375rem; /* 6px */
  --spacing-md: 0.5rem; /* 8px */
  --spacing-lg: 0.75rem; /* 12px */
  --spacing-xl: 1rem; /* 16px */
  --spacing-2xl: 1.25rem; /* 20px */
  --spacing-3xl: 1.5rem; /* 24px */
  --spacing-4xl: 2rem; /* 32px */
  --spacing-5xl: 2.5rem; /* 40px */
  --spacing-6xl: 3rem; /* 48px */
  --spacing-7xl: 4rem; /* 64px */
  --spacing-8xl: 5rem; /* 80px */
  --spacing-9xl: 6rem; /* 96px */
  --spacing-10xl: 8rem; /* 128px */
  --spacing-11xl: 8.75rem; /* 140px */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

:root {
  --font-family:
    -apple-system, BlinkMacSystemFont, 'Inter', 'Segoe UI', Roboto, sans-serif;
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

body {
  font-family: var(--font-family);
}

@layer base {
  * {
  }

  body {
    @apply text-neutral-25 bg-black;
  }
}

@utility flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@utility flex-start {
  display: flex;
  align-items: center;
  justify-content: start;
}

@utility flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@utility flex-around {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@utility flex-evenly {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

img {
  user-drag: none;
  -webkit-user-drag: none; /* For Safari */
  user-select: none; /* Prevent selection */
  touch-action: none; /* Disable touch gestures */
  -webkit-user-select: none; /* For Safari */
}

html {
  scroll-behavior: smooth;
}
